body { background: none; }

div#title { 
  /* reduce the margins for print */ 
  margin: 0.5em auto 0.5em auto
}
#menu, #comments, #disqus_thread, #related { display: none; }

.print-only { display: block; }

.no-print { display: none; }

