/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


/* Global Reset */

img { 
  border:0 
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif ;
  *font-size: small;
  text-align: center;
}


h1 {
  margin-bottom: 1em;
  font-size: 200%;
}

h2 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 125%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 100%;
}



p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
td {
  padding: 5px;
}
th { 
  padding: 5px;
}

/************/
/* top menu */
/************/
ul#menu { padding: 4px; margin:0; background: #111; list-style: none; border-bottom: solid 1px #ccc; }
ul#menu li { margin:0; display: inline; }
ul#menu li a { color: #fff; text-decoration: none; padding: 6px; border: 0; }
ul#menu li a:hover { text-decoration: underline; }

div#title {
  text-align:center;
  margin: 2em auto 4em auto;
  text-decoration:none;
}
div#titletext {
  display:inline;
  margin-bottom:40px;
}
div#titleimg {
  padding-top:4em;
  float:left;
}
div#title h1 {
  font-weight: normal;
  font-size: 25pt;
}
div#title a {
  text-decoration:none;
}
div#title span#namepre {
  color: #BBBBBB;
  letter-spacing: -0.05em;
}
div#title span#namefirst {
  font-weight: bold;
  color: #3D3B38;
  letter-spacing: -0.05em;
}
div#title span#namemiddle {
  color: #917744;
  letter-spacing: -0.05em;
}
div#title span#namelast {
  letter-spacing: -0.05em;
  color: #BBBBBB;
} 
div#title img {
  display:inline;
}
/* we have no tagline now, but perhaps someday */
div#title #tag_line { margin: 4px 0; font-size: 12px; letter-spacing: -1px; color: #333; }

/*****************************************************************************/
/*
/* index.html styles 
/*
/*****************************************************************************/

#home, #posts {
  border-top: 4px solid #eee;
  padding-top: 2em;
}

#home { 
  padding-left:0.5em;
  padding-right:0.5em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts li a {
  font-weight:bold;
  text-decoration: none;
} 

.postdate {
  color: #666;
  font-style:italic;
  font-size:80%;
}

.postsummary {
  color: #666;
  font-style:italic;
}

acronym { border-bottom: dotted 1px #ccc; cursor: help; }

pre { font: 10px Courier, "Courier New"; background: #111; color: #fff; padding: 3px; border: solid 1px #ccc; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 700px;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}

.site .meta {
  color: #aaa;
}

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

   .site .footer .contact {
      float: left;
      margin-right: 3em;
   }
    .copyright { 
      float:right;
    }

    .site .footer .contact a {
      color: #8085C1;
    }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  border-top: 4px solid #eee;
  padding-top: 2em;
  padding-left:0.5em;
  padding-right:0.5em;
}

#post #date {
  color: #666;
  text-align: right;
}


#post h1 {
   font-size: 200%;
   line-height: 1.25em;
   text-align: center;
   margin-left:5px;
}
  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.dyn-source { display: none; }
.clear {clear: both; }

/**************/ 
/*  Comments  */ 
/**************/

/* container for disqus comments */ 
#comments { }

/* Disqus style overrides {{{ */
#disqus_thread {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif ;
	font-size: 9pt ;
}
#disqus_thread h3 {
  font-size: 16pt ;
	font-weight: bold ;
	margin-top: 12px ;
	margin-bottom: 12px ;
}
#dsq-global-toolbar {
	display: none ;
}
.dsq-options {
	display: none ;
}
#dsq-new-post {
	color: #333 ;
	font-size: 9pt ;
}
.dsq-comment-body {
	margin-left: 34px ;
}
.dsq-comment-message {
	font-size: 9pt ;
}
.dsq-comment-header-meta-wrapper {
	font-size: 9pt ;
}
.dsq-comment-footer {
	margin: 0 0 8px 34px ;
	font-size: 9pt ;
}
.dsq-avatar img {
	max-height: 24px ;
	max-width: 24px ;
}
.dsq-button {
	font-weight: normal ;
}
.dsq-button-small {
	padding: 4px 8px ;
}
.dsq-like {
	display: none ;
}
.dsq-editedtxt {
	font-size: 10pt ;
	margin-top: 0.5em ; 
}

