<div id="disqus_thread"></div>
<script type="text/javascript">
    {% if post.disqus_id %}
    var disqus_identifier = {{ post.disqus_id }}
    {% endif %} 
    var disqus_shortname = 'mattthinksso'; 
{% comment %} This doesn't work? var disqus_url = {{ post.url }}   {% endcomment %}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=mattthinksso">comments powered by Disqus.</a></noscript>
