
     <footer class="bottombar">
     <div class="bottombar-inner">
       <div class="contact">
         <p>
           <a name="contact"></a>
         </p>
         <div class="row" title="Contact Information">
           <div class="span-one-third">
             <address>
               <strong>github</strong><br />
               <a href="http://github.com/matthoffman/">github.com/matthoffman</a>
             </address>
           </div>
           <div class="span-one-third">
             <address>
               <strong>twitter</strong><br />
               <a href="http://twitter.com/matt_thinks_so/">twitter.com/matt_thinks_so</a>
             </address>
           </div>
           <div class="span-one-third">
             <address>
               <strong>email</strong><br />
               matt at mhoffman dot org
             </address>
           </div>
         </div>
       </div>
       <div class="copyright row">
         <p>
           &copy; 2005-2011 Matt Hoffman. This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. 
         </p>
       </div>
     </div>
     </footer>
