
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Homepage CSS -->
    <!--
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)"/>
    <link rel="stylesheet" href="/css/print.css"  type="text/css" media="print"/>
    -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <!-- syntax highlighting via javascript --> 
    <link rel="stylesheet" href="/css/syntaxhighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/syntaxhighlighter/shCore.css" rel="stylesheet" type="text/css" />

    <!--
    <meta name="viewport" content="width=700, user-scalable=yes, maximum-scale=1.5" /> 
    -->
    <style type="text/css">
      /* Override some defaults */
      body {
        font-size: 100%;
        padding-top: 50px; /* 40px to make the container go all the way to the bottom of the topbar */
        /*line-height: 1.5em;*/
      }
      h1 { 
        text-align: center; /* center align our main titles */
      }
      .container > footer {
        text-align: center; /* center align it with the container */
      }
      /*.container {*/
        /*width: 820px;*/ /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
        /*}*/

      .namepre {
        color: #BBBBBB;
        letter-spacing: -0.05em;
      }
      .namefirst {
        color: #D9D9D9;
        letter-spacing: -0.05em;
      }
      .namemiddle {
        color: #BB8E35;
        letter-spacing: -0.05em;
        text-shadow: 0 0 1.2em white, 0 0 0.5em black; /* bit of a glow in most modern browsers */
      }
      .namelast {
        letter-spacing: -0.05em;
        color: #BBBBBB;
      } 
      .post {
        border-top: 4px solid #eee;
        padding-top: 2em;
        padding-left:0.5em;
        padding-right:0.5em;
      }
      .post #date {
        color: #666;
        text-align: right;
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      .topbar .btn {
        border: 0;
      }

      .copyright {
        font-size: 90%;
      }

    </style>

