---
layout: base
---
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">
            <span class="namefirst">matt</span>
            <span class="namemiddle">thinks</span>
            <span class="namelast">so</span><span class="namepre">&hellip;</span>
          </a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}

      {% include footer.html %}
    </div>  
